<div>
  <div *ngFor="let user of users" (click)="onSelect(user)">
    <div class="wrapper" [class.active-user]="selectedUser == user">
      <div class="wrapper__user-info">
        <h4>{{ user.id }} {{ user.name }}</h4>
      </div>
      <div class="wrapper__expand-icon">
        <i
          class="fa"
          [ngClass]="{
            'fa-plus-square': selectedUser != user,
            'fa-minus-square': selectedUser == user
          }"
        ></i>
      </div>
    </div>
    <ng-container *ngIf="selectedUser == user">
      <div class="selected">
        <table>
          <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
          </tr>
          <tr>
            <td>Mail</td>
            <td>{{ user.email }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ user.phone }}</td>
          </tr>
        </table>
      </div>
    </ng-container>
  </div>
</div>
