$base-color: #ffb429;
$box-shadow: #f0efef;

.wrapper {
  display: flex;
  vertical-align: middle;
  width: 480px;
  max-width: 100%;
  align-items: baseline;
  cursor: pointer;

  &:hover {
    background-color: $box-shadow;

    .wrapper__expand-icon {
      color: $base-color;
      opacity: 1;
    }
  }
}

.wrapper__user-info {
  flex: 2;
  border-left: 0.25rem solid $base-color;
  padding-left: 1rem;
}

.wrapper__expand-icon {
  flex: 1;
  text-align: right;
  font-size: 1.2rem;
  padding-right: 1.5rem;
  opacity: 0;
}

.active-user {
  background-color: $box-shadow;
}

.selected {
  display: flex;
  flex-direction: row;
  border-left: 0.25rem dotted $base-color;
  padding-left: 1rem;
  margin: 1rem;

  td {
    padding: 0.5rem;
  }
}
